.header {
  border-bottom: 1px solid var(--color-cornflower);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 76px;
  padding-top: 24px;
  padding-bottom: 24px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-navy-blue);
}

.nav {
  margin-right: auto;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.nav-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-navy-blue);
  position: relative;
  transition: color var(--transition-dur-func);
}

.nav-link:hover,
.nav-link:focus,
.nav-link.active {
  color: var(--color-ocean);
}

.nav-link.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: var(--color-ocean);
  border-radius: 2px;
}

.address-list {
  display: flex;
  gap: 40px;
}

.nav-address {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-slate);
  transition: color var(--transition-dur-func);
}

.nav-address:hover,
.nav-address:focus {
  color: var(--color-ocean);
}